.rdp-picker {
  background: transparent !important;
}
.rdp-picker,
.rdp-masked-div {
  color: inherit !important;
}
.rdp-text-overlay {
  visibility: hidden !important;
}
.rdp-reticule {
  border-color: #9c27b0 !important;
}
